body {
    font-family: "boschsans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
}

/*Header-container*/

header::before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 16px;
    content: "";
    background: url(../images/shape_horizontal.svg) center center/cover no-repeat;
}

.header-container {
    padding-top: 40px;
}

/*Quick_links*/

.quick_links a {
    text-decoration: none;
    color: inherit;
    outline: none;
    font-size: 12px;
}

/*Search*/

.searchbar {
    border-bottom: 1px solid #e6e6e6;
    width: 60%;
    margin: 0 auto;
}

input {
    border: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/*Navigation*/

nav {
    padding-top: 20px;
}