body {
    font-family: "boschsans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
}

/*Header-container*/

header::before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 16px;
    content: "";
    background: url(../images/shape_horizontal.svg) center center/cover no-repeat;
}

.header-container {
    padding-top: 40px;
}

/*Quick_links*/

.quick_links a {
    text-decoration: none;
    color: inherit;
    outline: none;
    font-size: 12px;
}

/*Search*/

.searchbar {
    border-bottom: 1px solid #e6e6e6;
    width: 60%;
    margin: 0 auto;
}

input {
    border: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/*Navigation*/

nav {
    padding-top: 20px;
}

/*Cart*/

.block-topcart .block-content {
    background: none repeat scroll 0 0 #FFF;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.28);
    padding: 15px;
    position: absolute;
    width: 100%;
    z-index: 0;
    transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    opacity: 0;
    top: 105px;
    visibility: hidden;
}

.block-topcart:hover .block-content {
    opacity: 1;
    top: 75px;
    z-index: 999;
    visibility: visible;
}

.block-topcart ol {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

.block-topcart ol li {
    width: 100%;
    float: left;
    clear: both;
    position: relative;
    margin-bottom: 10px;
}

.block-topcart ol li a.product-image {
    display: block;
    float: left;
    width: 25%;
}

.block-topcart ol li .product-details {
    float: left;
    width: 65%;
}

.block-topcart .product-details .product-name {
    margin: 0;
}

.block-topcart .product-details .product-name a {
    font-weight: 700;
    font-size: 12px;
}

.block-topcart a.btn-edit, .block-topcart a.btn-remove {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    text-indent: -99999px;
    height: 15px;
    width: 15px;
}

.block-topcart a.btn-edit {
    background: url(../images/btn_edit.gif) center center/cover no-repeat;
}

.block-topcart a.btn-remove {
    background: url(../images/btn_gm-close.gif) center center/cover no-repeat;
    top: 20px;
}
.block-topcart .actions {
    clear: both;
}